/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/
#todo {
  padding: 0;
  margin: 0;
}

#todo .todo-default-panel {
  background: #eee;
  padding: 13px 3px;
}

#todo-controls:before {
  content: '';
  height: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #dd3300;
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
}

#todo-controls {
}

#todo-controls input, label {
  width: 100%;
}

#todo-list {
}

#todo-list .todo-item {
  box-sizing: border-box;
  display: block;
  padding: 5px;
  border-bottom: dotted 1px #dd3300;
}

#todo-list .todo-item span {
}