@import "foss/elements.less";

// The CSS for the documents child of the Mvc.Main kind
#documents {
    position: relative;
    .drop-shadow(0, 2px, 5px, 0.4);
}

#documents {
    .documents-panel {
        padding: 10px;
        width: 320px;
        max-width: 320px;
        min-width: 320px;
        background: #fff;
        &.layered {
            .drop-shadow(-3px, 0, 3px, 0.4);
        }
    }
}

// provide a slightly altered experience for mobile and
// smaller devices...
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    #documents {
        .documents-panel {
            width: 320px;
        }
    }
}