@import "foss/elements.less";

// The CSS for the Mvc.Editor kind
#editor {
    position: absolute;
    overflow: hidden;
    z-index: 10;
    .input-area {
        position: absolute;
        box-sizing: border-box;
        left: 10px;
        right: 10px;
        bottom: 10px;
        height: 100px;
        textarea {
            width: 100%;
        }
    }
    .done-button {
        position: absolute;
        right: 10px;
        bottom: 120px;
    }
    .input-label {
        padding: 25px;
        &.model-view {
            box-sizing: border-box;
            background: #60c5ff;
            color: #fff;
            position: absolute;
            left: 10px;
            right: 10px;
            .rounded(5px);
        }
    }
}