@import "foss/elements.less";

.roller-editor-container, .roller-editor {
    position: relative;
}

.roller-editor {
    height: 380px;
}

@media all and (min-device-width: 320px) and (max-device-width: 480px) {
    .roller-editor-container, .roller-editor {
        height: 100%;
    }
}

// The CSS for the Mvc.Roller kind
#roller {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // background gradient
    .gradient(#60c5ff, #60c5ff, #bce7ff);
    &.editing {
        .opacity(0.5);
        .transition(0.5s, ease-out);
    }
    &.normal {
        .transition(0.5s, ease-out);
        .opacity(1.0);
    }
}

// The CSS for the actual enyo.Panels in Mvc.Roller
#roller-panels {
    height: 100%;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

// The CSS for the Mvc.RollerPanel kind
#roller-panels {
    .roller-panel {
        padding: 0 20px;
        box-sizing: border-box;
        display: table;
        height: 100%;
        div {
            color: #fff;
            font-weight: bold;
            display: table-cell;
            vertical-align: middle;
            margin: 0;
            padding: 0;
            font-size: 35px;
        }
    }
}