@import "foss/elements.less";

.roller-editor-container {
    position: relative;
}

.roller-editor {
    position: relative;
    height: 380px;
}

// The CSS for the Mvc.Roller kind
#roller {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // background gradient
    .gradient(#60c5ff, #60c5ff, #bce7ff);
    &.editing {
        .opacity(0.5);
        .transition(0.5s, ease-out);
    }
    &.normal {
        .transition(0.5s, ease-out);
        .opacity(1.0);
    }
}

// The CSS for the actual enyo.Panels in Mvc.Roller
#roller-panels {
    height: 100%;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

// The CSS for the Mvc.RollerPanel kind
#roller-panels {
    .roller-panel {
        padding: 20px;
        display: table;
        height: 100%;
        h1 {
            color: #fff;
            font-weight: bold;
            display: table-cell;
            vertical-align: middle;
            margin: 0;
            padding: 0;
            font-size: 35px;
        }
    }
}